/*===================================
Universal Styling
=================================*/
*{
margin: 0;
padding: 0;
border: 0;
max-width: 1800px;
}

.page{
  background-color: black;
  height: 2100px;
  margin: -1200px 0 0 0;
}
h1{
  font-family: 'Creepster', cursive;
  font-size: 64px;
  text-align: center;
  padding: 10px 0 20px 0;
  color: white;
}

/*===================================
Header Styling
=================================*/
header{
margin: 0 0 0 275px;
text-align: center;
position: fixed;
z-index: 99999;
}

header nav li{
  display: inline-block;
  margin: -10px;
}

header nav a{
  padding: 15px 60px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  text-decoration: none;
}

header nav li a:hover{
  color: red;
}

/*===================================
pennywise Styling


=================================*/
.penny{
padding: 150px 0 0 350px;
  z-index: -5px;
}
/*===================================
Body Styling


=================================*/
h2{
  font-family: 'Creepster',cursive;
  color: white;
  padding: 830px 0 0 500px;
  font-size: 36px;
  z-index: 99998;
}

.element{
  color: white;
  width: 300px;
  margin: 30px 0px 15px 500px;
}

.list{
  color: white;
  margin: 0 0 0 600px;
}

.origin{
  color: white;
  width: 400px;
  float: left;
  margin: 50px 80px;
}

.now{
  margin: -700px 0 0 0;
}

.purge{
  position: relative;
}

.jack{
  position: absolute;
}
.author{
  font-weight: bold;
  color: red;
}
